<h1>Редактор кімнат</h1>
<button class="btn btn-primary" (click)="newRoomBtn()">Додати кімнату</button>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms">
      <td>{{room.id}}</td>
      <td>{{room.name}}</td>
      <td>
        <button class="btn btn-primary ms-3" (click)="onEdit(room)">Редагувати</button>
        <button class="btn btn-primary ms-3" (click)="onDelete(room)">Видалити</button>
      </td>
    </tr>
  </tbody>
</table>
